<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">
	<head>

		<title th:text="${youthCouncil.getMunicipality()}"></title>
		<th:block th:insert="~{includes::head_fragment}"></th:block>
		<script defer src="/js/turnToEditable.js" type="module"></script>

	</head>


	<body>
		  <th:block th:insert="~{includes::navbar(${authUser}, 'adding-informative-page')}"></th:block>

		<button class="edit btn btn-primary" type="button">Edit</button>
		<input class="actionPointId" th:id="'ap_'+${actionPoint.id}" type="hidden">
		<input class="youthCouncilId" th:id="'yc_' + ${youthCouncil.getId()}" type="hidden">
		<h1 class="editable" id="title" th:text="${actionPoint.getTitle()}"></h1>
		<h2 class="editable" id="description" th:text="${actionPoint.getDescription()}"></h2>
		<h3 id="label" th:text="${actionPoint.getLabel()}"></h3>
		<select hidden="hidden" id="labelInput">
			<option th:each="label : ${labels}" th:text="${label}"></option>
		</select>
		<button class="save btn btn-primary">Save</button>

	</body>
</html>