<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:th="http://www.thymeleaf.org"
>

<head>
	<title th:text="${callForIdea.getTitle()}"></title>
	<th:block th:insert="~{includes::head_fragment}"></th:block>
	<script defer src="/js/callForIdea.js" type="module"></script>


</head>
<body class="m-3">
<th:block th:insert="~{includes::navbar(${authUser}, 'login')}"></th:block>
<section th:text="${callForIdea.getTitle()}"></section>

<input id="idea-text" sec:authorize="hasRole('ROLE_MEMBER')" th:value="respectfully, suckOndEEzNutsss" type="text">
<button class="submit-idea btn btn-danger" sec:authorize="hasRole('ROLE_MEMBER')" type="button">Super mega crazy submit
																								button wow
</button>
<section class="idea" th:each="idea: ${ideas}">
	<span th:text="${idea.getTitle()}"></span>
</section>
</body>
<input class="hiddenUserId" th:id="'userId_'+${authUser.getId()}" type="hidden">
<input class="hiddenCFIId" th:id="'cfiId_'+${callForIdea.getId()}" type="hidden">
</html>