<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${ycWithActionPoints.getMunicipality()}"></title>
	<th:block th:insert="~{includes::head_fragment}"></th:block>
	<script defer th:src="@{/js/launchCallForIdeas.js}" type="module"></script>
	<script defer th:src="@{/js/youthCouncil.js}" type="module"></script>
	<script defer th:src="@{/js/editYouthCouncil.js}" type="module"></script>
	<link rel="stylesheet" th:href="@{/css/youthcouncil.css}">
	<link rel="stylesheet" th:href="@{/css/editYouthCouncil.css}">
</head>
<body class="m-3" th:attr="data-youthcouncil_id=${ycWithActionPoints.getYouthCouncilId()}">
<th:block th:insert="~{includes::navbar(${authUser}, ${authAdmin},  'youthcouncil')}"></th:block>
<div class="d-flex justify-content-between">
	<h1 th:text="${ycWithActionPoints.getCouncilName()}"></h1>
	<a class="btn btn-primary align-self-center flex-shrink-1"
	   th:href="@{/youthcouncils/{municipality}(municipality=${ycWithActionPoints.getMunicipality()})}"
	   th:if="${#authorization.expression('hasAuthority(''COUNCIL_ADMIN@' + ycWithActionPoints.getMunicipality()+ ''')')}">
		Back to youth council
	</a>
</div>
<p th:text="${ycWithActionPoints.getDescription()}"></p>


<input id="authUserId" th:if="${authUser!=null}" th:value="${authUser.id}" type="hidden"/>
<input id="youthCouncilId" th:value="${ycWithActionPoints.getYouthCouncilId()}" type="hidden">


<h2>Action point</h2>
<div class="d-flex gap-2 flex-wrap">
	<div class="card mb-3" style="max-width: 540px;" th:each="actionpoint: ${ycWithActionPoints.getActionPoints()}">
		<div class="card-header d-flex justify-content-between"
			 th:id="${'actionpoints_' + actionpoint.getActionPointId()}">
			Action point
			<div class="form-check form-switch"
				 title="Set display status on homepage">
				<span th:text="${actionpoint.getModuleStatus()}"></span>
				<input checked
					   class="form-check-input"
					   id="actionpoint_CheckChecked"
					   role="switch"
					   th:if="${actionpoint.getModuleStatus().name().equals('DISPLAYED')
					   && #authorization.expression('hasAuthority(''COUNCIL_ADMIN@' + ycWithActionPoints.getMunicipality()+ ''')')}"
					   type="checkbox">
				<input class="form-check-input tooltiptext"
					   id="actionpoint_CheckDefault"
					   role="switch"
					   th:if="${!actionpoint.getModuleStatus().name().equals('DISPLAYED')
					   && #authorization.expression('hasAuthority(''COUNCIL_ADMIN@' + ycWithActionPoints.getMunicipality()+ ''')')}"
					   type="checkbox">
			</div>
		</div>
		<div class="d-flex">
			<img class="rounded-bottom"
				 height="150"
				 src="https://picsum.photos/150"
				 th:alt="${actionpoint.getTitle()}"
				 width="150">
			<div>
				<div class="card-body">
					<h5>
						<a class="card-title"
						   th:href="@{/youthcouncils/{municipality}/actionpoints/{actionpointid}(municipality=${ycWithActionPoints.getMunicipality()}, actionpointid=${actionpoint.getActionPointId()})}"
						   th:text="${actionpoint.getTitle()}">Card title
						</a>
					</h5>
					<p class="card-text" th:text="${actionpoint.getDescription()}">
						Some quick example text to build on the card title and make up the bulk of the card's
						content.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<h2>Calls for Ideas</h2>
<div class="d-flex gap-2 flex-wrap">
	<div class="card mb-3" style="max-width: 540px;" th:each="callforideas: ${ycWithCallsForIdeas.getCallForIdeas()}">
		<div class="card-header d-flex justify-content-between"
			 th:id="${'call-for-ideas_' + callforideas.getCallForIdeaId()}">
			Call for Idea
			<div class="form-check form-switch"
				 title="Set display status on homepage">
				<span th:text="${callforideas.getModuleStatus()}"></span>
				<input checked
					   class="form-check-input"
					   id="call-for-ideas_CheckChecked"
					   role="switch"
					   th:if="${callforideas.getModuleStatus().name().equals('DISPLAYED')
					   && #authorization.expression('hasAuthority(''COUNCIL_ADMIN@' + ycWithActionPoints.getMunicipality()+ ''')')}"
					   type="checkbox">
				<input class="form-check-input tooltiptext"
					   id="call-for-ideas_CheckDefault"
					   role="switch"
					   th:if="${!callforideas.getModuleStatus().name().equals('DISPLAYED')
					   && #authorization.expression('hasAuthority(''COUNCIL_ADMIN@' + ycWithActionPoints.getMunicipality()+ ''')')}"
					   type="checkbox">
			</div>
		</div>
		<div class="d-flex">
			<img class="rounded-bottom"
				 height="150"
				 src="https://picsum.photos/150"
				 th:alt="${callforideas.getTitle()}"
				 width="150">
			<div>
				<div class="card-body">
					<h5>
						<a class="card-title"
						   th:href="@{/youthcouncils/{municipality}/callforideas/{callforideasId}(municipality=${ycWithCallsForIdeas.getMunicipality()}, callforideasId=${callforideas.getCallForIdeaId()})}"
						   th:text="${callforideas.getTitle()}">Card title
						</a>
					</h5>
					<p class="card-text" th:text="'Theme: ' + ${callforideas.getTheme().getTheme()}">
						Theme
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<h2>Announcement</h2>
<div class="d-flex gap-2 flex-wrap">
	<div class="card mb-3" style="max-width: 540px;" th:each="announcement: ${ycWithAnnouncements.getAnnouncements()}">
		<div class="card-header d-flex justify-content-between"
			 th:id="${'announcements_' + announcement.getAnnouncementId()}">
			Announcement
			<div class="form-check form-switch"
				 title="Set display status on homepage">
				<span th:text="${announcement.getModuleStatus()}"></span>
				<input checked
					   class="form-check-input"
					   id="announcements_CheckChecked"
					   role="switch"
					   th:if="${announcement.getModuleStatus().name().equals('DISPLAYED')
					   && #authorization.expression('hasAuthority(''COUNCIL_ADMIN@' + ycWithActionPoints.getMunicipality()+ ''')')}"
					   type="checkbox">
				<input class="form-check-input tooltiptext"
					   id="announcements_CheckDefault"
					   role="switch"
					   th:if="${!announcement.getModuleStatus().name().equals('DISPLAYED')
					   && #authorization.expression('hasAuthority(''COUNCIL_ADMIN@' + ycWithActionPoints.getMunicipality()+ ''')')}"
					   type="checkbox">
			</div>
		</div>
		<div class="d-flex">
			<img class="rounded-bottom"
				 height="150"
				 src="https://picsum.photos/150"
				 th:alt="${announcement.getTitle()}"
				 width="150">
			<div>
				<div class="card-body">
					<h5>
						<a class="card-title"
						   th:href="@{/youthcouncils/{municipality}/announcement/{announcementId}(municipality=${ycWithAnnouncements.getMunicipality()}, announcementId=${announcement.getAnnouncementId()})}"
						   th:text="${announcement.getTitle()}">Card title
						</a>
					</h5>
					<p class="card-text" th:text="${announcement.getDescription()}">
						Some quick example text to build on the card title and make up the bulk of the card's
						content.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
