<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf-meta th:fragment="head_fragment" th:remove="tag">
        <meta charset="UTF-8"/>
        <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    </thymeleaf-meta>
    <meta>
    <meta charset="UTF-8">
</head>
<body>


<header th:fragment="header">
    <div class="container">
        <nav class="navbar-dark">
            <a th:href="@{/}">Youth Council</a>
            <a class="btn btn-dark" sec:authorize="!isAuthenticated()" th:href="@{/login}" type="button">Log in</a>
            <a class="btn btn-dark" sec:authorize="!isAuthenticated()" th:href="@{/register}" type="button">Register</a>
            <a class="btn btn-dark" sec:authorize="hasRole('ROLE_GENERAL_ADMIN')" th:href="@{/youthcouncils/add}"
               type="button">Create YC</a>
            <a class="btn btn-dark" sec:authorize="hasRole('ROLE_GENERAL_ADMIN')" th:href="@{/youthcouncils}"
               type="button">YC List</a>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
                <button class="btn btn-secondary" type="submit">Log out</button>
            </form>
        </nav>
    </div>
</header>

</body>
</html>
