<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${actionPoint.getTitle()}">Action Point</title>
	<th:block th:insert="~{includes::head_fragment}"></th:block>
	<script defer src="/js/actionPoint.js" type="module"></script>

</head>
<body class="m-3" th:attr="data-youthcouncil_id=${youthCouncil.getYouthCouncilId()}">

<input class="actionPointId" th:id="'ap_'+${actionPoint.getActionPointId()}" type="hidden">
<input class="youthCouncilId" th:id="'yc_' + ${youthCouncil.getYouthCouncilId()}" type="hidden">
<input class="ownsubtheme" th:id="${actionPoint.theme.getSubTheme()}" type="hidden">
<input id="actionPointTitle" th:value="${actionPoint.getTitle()}" type="hidden">
<input id="authUserId" th:if="${authUser!=null}" th:value="${authUser.id}" type="hidden"/>
<th:block th:insert="~{includes::navbar(${authUser}, ${authAdmin},  'informative-pages')}"></th:block>
<section>
	<div class="container my-5">
		<div class="bg-body-tertiary p-5 rounded">
			<div class="d-inline-flex justify-content-between">
				<h1 class="display-5" th:text="${actionPoint.title.replaceAll('-', ' ')}"></h1>
				<button
						id="subscribe-btn"
						th:class="'btn ' +${userHasSubscription?'btn-danger':'btn-primary'}"
						th:text="${userHasSubscription?'Unsubscribe:(':'Subscribe!'}">
				</button>
			</div>
			<div>
				<h2 th:text="${actionPoint.theme.getSubTheme()}"></h2>
			</div>
			<div th:each="block : ${actionPoint.actionPointBlocks}">
				<h1 th:if="${block.type.toString().equals('HEADER_BIG')}" th:text="${block.content}"></h1>
				<h2 th:if="${block.type.toString().equals('HEADER_MEDIUM')}" th:text="${block.content}"></h2>
				<h3 th:if="${block.type.toString().equals('HEADER_SMALL')}" th:text="${block.content}"></h3>
				<p th:if="${block.type.toString().equals('PARAGRAPH')}" th:text="${block.content}"></p>
				<img alt="informative page image"
					 class="w-100"
					 th:if="${block.type.toString().equals('IMAGE')}"
					 th:src="${block.content.contains('/') ? '' : '/images/uploads/'} + ${block.content}"/>
				<video class="w-100"
					   controls th:if="${block.type.toString().equals('VIDEO')}">
					<source th:src="${block.content.contains('/') ? '' : '/images/uploads/'} + ${block.content}">
				</video>
			</div>
		</div>
	</div>
</section>

</body>
</html>
