<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Profile</title>
	<th:block th:insert="~{includes::head_fragment}"></th:block>
	<script defer src="/js/changePassword.js" type="module"></script>
	<script defer src="/js/editUsername.js" type="module"></script>
	<script defer src="/js/profile.js" type="module"></script>
</head>
<body class="m-3">
<header th:insert="~{includes::navbar(${authUser}, ${authAdmin},  'profile')}"></header>
<section class="d-none position-absolute top-0 start-0 vw-100 vh-100" id="profile-edit-overlay">
	<div class="translate-middle position-absolute top-50 start-50 card" id="change-password-form">
		<div class="card-body">
			<div class="form-group mb-2">
				<label for="password">Password:</label>
				<input class="form-control" id="password" name="password" required type="password">
			</div>
			<div class="form-group mb-2">
				<label for="confirm-password">Confirm Password:</label>
				<input class="form-control" id="confirm-password" name="confirm-password" required type="password">
			</div>
			<button class="btn btn-success btn-block" id="reset-password-submit" th:user-id="${user.id}" type="submit">
				change password
			</button>
		</div>
	</div>
</section>
<section class="container card profile-container">
	<div class="card-body">
		<div class="w-50 m-auto d-flex justify-content-center">
			<svg class="bi bi-person-circle"
				 fill="currentColor"
				 height="150"
				 viewBox="0 0 16 16"
				 width="150"
				 xmlns="http://www.w3.org/2000/svg">
				<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
				<path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
					  fill-rule="evenodd"/>
			</svg>
		</div>
	</div>
	<div class="row card-body">
		<div class="col-12 d-flex justify-content-between">
			<h1 class="fs-1">
				<span id="username-display" th:text="${user.username}"></span>
			</h1>
			<div>
				<input id="username-submit" th:user-id="${user.id}" th:value="${authUser.id}" type="hidden">
				<button class="edit btn btn-primary" id="username-edit-button" type="button">Edit</button>
				<button class="delete btn btn-danger" id="delete-btn" type="button">Delete</button>
				<button class="save btn btn-primary d-none" id="username-cancel-button">Cancel</button>
				<button class="save btn btn-primary d-none" id="username-save-button">Save</button>
			</div>
		</div>
		<div>
			<h2 class="fs-3">
				<span th:text="${user.firstName}"></span>
				<span th:text="${user.lastName}"></span>
			</h2>
			<h3 class="fs-3" th:text="${user.email}"></h3>
			<h3 class="fs-3 mb-0" th:text="${user.postcode}"></h3>
			<h4 class="fs-6 text-secondary">postcode</h4>
		</div>
		<div>
			<button class="btn btn-primary" id="edit-password-button">edit password</button>
		</div>
	</div>
</section>
</body>
</html>
