<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Register</title>
	<th:block th:insert="~{includes::head_fragment}"></th:block>
</head>
<body class="m-3">
<th:block th:insert="~{includes::navbar(${authUser}, ${authAdmin}, 'register')}"></th:block>
<h1>Register</h1>
<div class="container">
	<form class="mx-auto col-md-6 col-lg-4 form"
		  method="post"
		  th:action="@{/register}"
		  th:object="${user}">
		<div>
			<label for="username">Username</label>
			<input class="form-control" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" id="username" name="username" required th:field="*{username}" type="text"/>
			<span class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Err</span>
		</div>
		<div>
			<label for="password">Password</label>
			<input class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" id="password" name="password" required th:field="*{password}" type="password"/>
			<span class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Err</span>
		</div>
		<div>
			<label for="passwordConfirm">Confirm Password</label>
			<input class="form-control" th:classappend="${#fields.hasErrors('passwordConfirm')} ? 'is-invalid'" id="passwordConfirm" name="passwordConfirm" required
				   th:field="*{passwordConfirm}" type="password"/>
			<span class="invalid-feedback" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Err</span>
		</div>
		<div>
			<label for="email">Email</label>1
			<input class="form-control" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" id="email" name="email" required th:field="*{email}" type="email"/>
			<span class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Err</span>
		</div>
		<div>
			<label for="firstName">First Name</label>
			<input class="form-control" th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'" id="firstName" name="firstName" required th:field="*{firstName}" type="text"/>
			<span class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Err</span>
		</div>
		<div>
			<label for="lastName">Last Name</label>
			<input class="form-control" th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'" id="lastName" name="lastName" required th:field="*{lastName}" type="text"/>
			<span class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Err</span>
		</div>
		<div>
			<label for="postcode">Postcode</label>
			<input class="form-control" th:classappend="${#fields.hasErrors('postcode')} ? 'is-invalid'" id="postcode" name="postcode" required th:field="*{postcode}" type="text"/>
			<span class="invalid-feedback" th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}">Err</span>
		</div>
		<div class="text-center">
			<input class="btn btn-primary mt-3" type="submit" value="Submit"/>
		</div>
	</form>
	<hr class="mt-3">
	<div class="d-flex justify-content-evenly">
		<a class="btn btn-primary" th:href="@{/oauth2/authorization/facebook}">
			<i class="bi-facebook bi"></i>
			Continue with Facebook
		</a>
		<a class="btn btn-danger" th:href="@{/oauth2/authorization/google}">
			<i class="bi bi-google"></i>
			Continue with Google
		</a>
	</div>
</div>
</body>
</html>
