<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Statistics</title>
	<th:block th:insert="~{includes::head_fragment}"></th:block>
	<script defer src="https://public.tableau.com/javascripts/api/viz_v1.js"></script>
</head>
<body>
<th:block th:insert="~{includes::navbar(${authUser}, ${authAdmin},  'statistics')}"></th:block>

<ul class="nav nav-tabs" id="tabs" role="tablist">
	<li class="nav-item" role="presentation">
		<a class="nav-link active"
		   href="#viz1685807378542"
		   id="page-visits">
			Page visits
		</a>
	</li>
	<li class="nav-item" role="presentation">
		<a class="nav-link"
		   href="#viz1685810069581"
		   id="scatterplot-tab">
			Scatterplot
		</a>
	</li>
</ul>
<div class="tableauPlaceholder" id="viz1685807378542" style="position: relative">
	<noscript>
		<a href="#">
			<img alt="Page visits and durations per municipality and year "
				 src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pa&#47;Pagevisitsanddurationspermunicipalityandyear&#47;Pagevisitsanddurationspermunicipalityandyear&#47;1_rss.png"
				 style="border: none"/>
		</a>
	</noscript>
	<object class="tableauViz" style="display:none;">
		<param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F"/>
		<param name="embed_code_version" value="3"/>
		<param name="site_root" value=""/>
		<param name="name"
			   value="Pagevisitsanddurationspermunicipalityandyear&#47;Pagevisitsanddurationspermunicipalityandyear"/>
		<param name="tabs" value="no"/>
		<param name="toolbar" value="yes"/>
		<param name="static_image"
			   value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pa&#47;Pagevisitsanddurationspermunicipalityandyear&#47;Pagevisitsanddurationspermunicipalityandyear&#47;1.png"/>
		<param name="animate_transition" value="yes"/>
		<param name="display_static_image" value="yes"/>
		<param name="display_spinner" value="yes"/>
		<param name="display_overlay" value="yes"/>
		<param name="display_count" value="yes"/>
		<param name="language" value="en-US"/>
	</object>
</div>
<script type="text/javascript">
	const divElement = document.getElementById("viz1685807378542");
	const vizElement = divElement.getElementsByTagName("object")[0];
	vizElement.style.width = "100%";
	vizElement.style.height = (divElement.offsetWidth * 0.75) + "px";
</script>
<div class="tableauPlaceholder" id="viz1685810069581" style="position: relative">
	<noscript>
		<a href="#">
			<img alt="Scatterplot "
				 src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Du&#47;Durationscatterplot&#47;Scatterplot&#47;1_rss.png"
				 style="border: none"/>
		</a>
	</noscript>
	<object class="tableauViz" style="display:none;">
		<param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F"/>
		<param name="embed_code_version" value="3"/>
		<param name="site_root" value=""/>
		<param name="name" value="Durationscatterplot&#47;Scatterplot"/>
		<param name="tabs" value="no"/>
		<param name="toolbar" value="yes"/>
		<param name="static_image"
			   value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Du&#47;Durationscatterplot&#47;Scatterplot&#47;1.png"/>
		<param name="animate_transition" value="yes"/>
		<param name="display_static_image" value="yes"/>
		<param name="display_spinner" value="yes"/>
		<param name="display_overlay" value="yes"/>
		<param name="display_count" value="yes"/>
		<param name="language" value="en-US"/>
	</object>
</div>
<script type="text/javascript">
	const divElement2 = document.getElementById("viz1685810069581");
	const vizElement2 = divElement2.getElementsByTagName("object")[0];
	vizElement2.style.width = "100%";
	vizElement2.style.height = (divElement2.offsetWidth * 0.75) + "px";
</script>
</body>
</html>
