<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="~{includes::head_fragment}"></th:block>
	<title>Statistics</title>
	<script defer src="/js/userManagement.js" type="module"></script>
</head>
<body class="m-3">
<input id="authUserId" th:if="${authUser!=null}" th:value="${authUser.id}" type="hidden"/>
<input id="youthCouncilId" th:if="${youthCouncil!=null}" th:value="${youthCouncil.getYouthCouncilId()}" type="hidden"/>

<th:block th:insert="~{includes::navbar(${authUser}, ${authAdmin},  'general-statistics')}"></th:block>

<div class="container">
	<div class="container-fluid">
		<span th:text="'Numer of users: ' + ${subscriptions.size()}"></span>
		<table class="table table-hover table-bordered" th:for="users">
			<thead>
			<tr>
				<th scope="col">Username</th>
				<th scope="col">Email</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Role</th>
				<th hidden scope="col" th:if="${authUser.isGA}"></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="subscription: ${subscriptions}" th:id="'user_' + ${subscription.getSubscriber().getId()}">
				<td th:text="${subscription.getSubscriber().username}"></td>
				<td th:text="${subscription.getSubscriber().email}"></td>
				<td th:text="${subscription.getSubscriber().firstName}"></td>
				<td th:text="${subscription.getSubscriber().lastName}"></td>
				<td class="role" th:text="${subscription.role}"></td>
				<td th:if="${authUser.isGA}">
					<button class="btn btn-danger delete-btn" type="button">Delete User</button>
				</td>
				<td
						th:if="${youthCouncil!=null && #authorization.expression('hasAuthority(''COUNCIL_ADMIN@' + youthCouncil.getMunicipality()+ ''')')
						&& subscription.getYouthCouncil().youthCouncilId==youthCouncil.getYouthCouncilId()}">
					<button class="btn btn-primary promote"
							th:if="${subscription.getRole().toString()=='USER'}" type="button">
						Promote
					</button>
					<button class="btn btn-danger demote"
							th:if="${subscription.getRole().toString()=='MODERATOR'}"
							type="button">
						Demote
					</button>
				</td>
				<td
						th:if="${youthCouncil!=null && #authorization.expression('hasAuthority(''COUNCIL_ADMIN@' + youthCouncil.getMunicipality()+ ''')')
						&& subscription.getYouthCouncil().youthCouncilId==youthCouncil.getYouthCouncilId()}">
					<button class="btn btn-primary block"
							th:if="${!subscription.isBlocked()}" type="button">
						Block
					</button>
					<button class="btn btn-danger unblock"
							th:if="${subscription.isBlocked()}"
							type="button">
						Unblock
					</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

</body>
</html>
