<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${youthCouncil.getCouncilName()}"></title>
    <thymeleaf-meta th:replace="includes :: head_fragment"></thymeleaf-meta>
</head>
<body class="m-3">

<h1 th:text="${youthCouncil.getCouncilName()}"></h1>
<p th:text="${youthCouncil.getDescription()}"></p>
<a th:href="@{/youthcouncils/{municipality}/create-council-admin(municipality=${youthCouncil.getMunicipalityName()})}">Create
    council admin</a>
<div class="d-flex gap-2">
    <div class="card mb-3" style="max-width: 540px;" th:each="moduleItem: ${youthCouncil.getModuleItems()}">
        <div class="card-header">Module Item</div>
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-fluid placeholder h-100 rounded-start" th:alt="${moduleItem.getTitle()}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${moduleItem.getTitle()}">Card title</h5>
                    <p class="card-text" th:text="${moduleItem.getDescription()}">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                    <a class="card-link"
                       th:href="@{/youthcouncils/{municipality}/call-for-ideas/{id}(municipality=${youthCouncil.getMunicipalityName()}, id=${moduleItem.getId()})}">
                        Go somewhere
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
